## A. Configuraciones generales.

In [1]:
#1. Librerías.
%run "./librerias.ipynb"

Matplotlib is building the font cache; this may take a moment.

/home/ianlink95/.venv/lib/python3.12/site-packages/dask/dataframe/__init__.py:42: FutureWarning:
Dask dataframe query planning is disabled because dask-expr is not installed.

You can install it with `pip install dask[dataframe]` or `conda install dask`.
This will raise in a future version.

  warnings.warn(msg, FutureWarning)
/home/ianlink95/.venv/lib/python3.12/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
#2. Constantes.
%run "./constantes.ipynb"

In [3]:
#3. Funciones.
%run "./funciones.ipynb"

In [23]:
#4. Lectura de datos.
data = pd.read_csv(dataset_file_clase_ternaria)

## B. Data Quality.

#### 1. Valores nulos.

In [24]:
#a. Evaluamos.
train_data = data[data['foto_mes'].isin(mes_train_ult_6_meses)]
score_data = data[data['foto_mes'] == mes_test]

train_null_percentage = train_data.isnull().mean() * 100
score_null_percentage = score_data.isnull().mean() * 100

comparison_df = pd.DataFrame({'Train Null Percentage': train_null_percentage, 'Score Null Percentage': score_null_percentage})
comparison_df['diff'] = (comparison_df['Score Null Percentage'] - comparison_df['Train Null Percentage']).abs()

comparison_df_sorted = comparison_df.sort_values('diff', ascending=False)

comparison_df_sorted

,Train Null Percentage,Score Null Percentage,diff
clase_ternaria,0.000000,100.000000,100.000000
Master_mconsumototal,59.707968,58.356403,1.351565
Master_mpagosdolares,59.707968,58.356403,1.351565
Master_mpagospesos,59.707968,58.356403,1.351565
Master_cconsumos,59.707968,58.356403,1.351565
...,...,...,...
ctarjeta_visa_debitos_automaticos,0.000000,0.000000,0.000000
mttarjeta_visa_debitos_automaticos,0.000000,0.000000,0.000000
ctarjeta_master_debitos_automaticos,0.000000,0.000000,0.000000
mttarjeta_master_debitos_automaticos,0.000000,0.000000,0.000000
mpayroll,0.000000,0.000000,0.000000

In [25]:
#b. Decidimos.
print("No parece haber una diferencia significativa en la cantidad de valores nulos.")

No parece haber una diferencia significativa en la cantidad de valores nulos.

#### 2. Valores 0.

In [26]:
#a. Evaluamos.
train_zero_percentage = (train_data == 0).mean() * 100
score_zero_percentage = (score_data == 0).mean() * 100

comparison_df_zero = pd.DataFrame({'Train Zero Percentage': train_zero_percentage, 'Score Zero Percentage': score_zero_percentage})

comparison_df_zero['diff_zero_percentage'] = (comparison_df_zero['Score Zero Percentage'] - comparison_df_zero['Train Zero Percentage']).abs()
diff_zero_percentage_sorted = comparison_df_zero.sort_values('diff_zero_percentage',ascending=False)

diff_zero_percentage_sorted

,Train Zero Percentage,Score Zero Percentage,diff_zero_percentage
Master_fultimo_cierre,11.567439,0.000000,11.567439
Visa_fultimo_cierre,11.557051,0.000000,11.557051
Visa_mpagado,80.493632,69.013914,11.479718
cmobile_app_trx,28.251859,20.980767,7.271092
mtransferencias_emitidas,40.924756,37.012971,3.911784
...,...,...,...
Visa_Fvencimiento,0.000000,0.000000,0.000000
tcuentas,0.000000,0.000000,0.000000
foto_mes,0.000000,0.000000,0.000000
numero_de_cliente,0.000000,0.000000,0.000000
clase_ternaria,0.000000,0.000000,0.000000

In [27]:
#b. Decidimos eliminar aquellas columnas con un gran cambio en la cantidad de 0 en el mes test.
cols_eliminar = ["Master_fultimo_cierre","Visa_fultimo_cierre","Visa_mpagado","cmobile_app_trx"]
data.drop(cols_eliminar,axis=1,inplace=True)

train_data.drop(cols_eliminar,axis=1,inplace=True)
score_data.drop(cols_eliminar,axis=1,inplace=True)

/tmp/ipykernel_2547/3055451641.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_data.drop(cols_eliminar,axis=1,inplace=True)
/tmp/ipykernel_2547/3055451641.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  score_data.drop(cols_eliminar,axis=1,inplace=True)

#### 3. Valores <0.

In [28]:
#a. Evaluamos.
train_negative_percentage = (train_data == -1).mean() * 100
score_negative_percentage = (score_data == -1).mean() * 100

comparison_df_zero = pd.DataFrame({'Train Negative Percentage': train_negative_percentage, 'Score Negative Percentage': score_negative_percentage})

comparison_df_zero['diff_negative_percentage'] = (comparison_df_zero['Score Negative Percentage'] - comparison_df_zero['Train Negative Percentage']).abs()
diff_negative_percentage_sorted = comparison_df_zero.sort_values('diff_negative_percentage',ascending=False)

diff_negative_percentage_sorted

,Train Negative Percentage,Score Negative Percentage,diff_negative_percentage
Master_Finiciomora,0.002444,0.000000,0.002444
Master_msaldototal,0.004379,0.003627,0.000752
Master_msaldopesos,0.004277,0.003627,0.000651
mactivos_margen,0.001731,0.001209,0.000522
mrentabilidad,0.000102,0.000604,0.000503
...,...,...,...
cpayroll2_trx,0.000000,0.000000,0.000000
ccuenta_debitos_automaticos,0.000000,0.000000,0.000000
mcuenta_debitos_automaticos,0.000000,0.000000,0.000000
ctarjeta_visa_debitos_automaticos,0.000000,0.000000,0.000000
cseguro_vivienda,0.000000,0.000000,0.000000

In [29]:
#b. Decidimos.
print("No parece haber una diferencia significativa en la cantidad de valores con -1.")

No parece haber una diferencia significativa en la cantidad de valores con -1.

#### 4. Valores duplicados.

In [30]:
#a. Verifico.
print("Train tiene {} valores duplicados".format(train_data.duplicated().sum()))
print("Test tiene {} valores duplicados".format(score_data.duplicated().sum()))

Train tiene 0 valores duplicados
Test tiene 0 valores duplicados

## C. Data Drifting.

In [32]:
#1. Aplicamos PSI a casi todas las variables, excepto las de no interés.
psi_results = []
for column in train_data.columns:
  if column not in ['foto_mes','numero_de_cliente','clase_ternaria']:
    train_variable = train_data[column]
    score_variable = score_data[column]
    psi_value = psi(train_variable, score_variable)
    psi_results.append({'feature': column, 'psi': psi_value})

psi_df = pd.DataFrame(psi_results)
psi_df = psi_df.sort_values('psi', ascending=False)

/tmp/ipykernel_2547/3157422034.py:7: RuntimeWarning: divide by zero encountered in log
  result = (actual_prop - expected_prop) * np.log(actual_prop / expected_prop)

In [33]:
#2. Observamos variables con PSI >= 0.1 (casos a atender).
psi_df[psi_df["psi"] > 0.1]

                 feature       psi
111   Master_Finiciomora       inf
132     Visa_Finiciomora  0.622660
110  Master_Fvencimiento  0.130568

In [34]:
#3. Analizo las variables a tener en cuenta.
#i. Master_Finiciomora y Visa_Finiciomora.
variable_name = 'Visa_Finiciomora'
expected = train_data[variable_name]
actual = score_data[variable_name]

expected_not_null = expected.dropna()
actual_not_null = actual.dropna()

bin_edges = pd.qcut(expected_not_null, q=10, duplicates='drop').unique()
bin_edges2 = [edge.left for edge in bin_edges] + [edge.right for edge in bin_edges]
breakpoints = sorted(list(set(bin_edges2)))

print(f'Cortes en {variable_name}: {breakpoints}')
expected_counts, _ = np.histogram(expected_not_null, bins=breakpoints)
actual_counts, _ = np.histogram(actual_not_null, bins=breakpoints)

print(f'Frecuencia Esperada: {expected_counts}')
print(f'Frecuencia Actual: {actual_counts}')

Cortes en Visa_Finiciomora: [-0.001, 9.0, 17.0, 21.0, 24.0, 50.0, 269.0]
Frecuencia Esperada: [6809  608 1542 1525 1579 1565]
Frecuencia Actual: [3199    4   74  495  114  255]

In [35]:
#ii. Master_Fvencimiento.
variable_name = 'Master_Fvencimiento'
expected = train_data[variable_name]
actual = score_data[variable_name]

expected_not_null = expected.dropna()
actual_not_null = actual.dropna()

bin_edges = pd.qcut(expected_not_null, q=20, duplicates='drop').unique()
bin_edges2 = [edge.left for edge in bin_edges] + [edge.right for edge in bin_edges]
breakpoints = sorted(list(set(bin_edges2)))

print(f'Cortes en {variable_name}: {breakpoints}')
expected_counts, _ = np.histogram(expected_not_null, bins=breakpoints)
actual_counts, _ = np.histogram(actual_not_null, bins=breakpoints)

print(f'Frecuencia Esperada: {expected_counts}')
print(f'Frecuencia Actual: {actual_counts}')

Cortes en Master_Fvencimiento: [-2914237.001, -2129.0, -2009.0, -1641.0, -1551.0, -1460.0, -1399.0, -1307.0, -1187.0, -1065.0, -882.0, -757.0, -668.0, -609.0, -548.0, -517.0, -456.0, -395.0, -305.0, -211.0, 5206.0]
Frecuencia Esperada: [37448 45997 46507 42767 43633 40650 50739 39965 47701 39065 49203 42827
 35396 49988 27786 52269 45836 51715 46781 44354]
Frecuencia Actual: [ 5984  9098 13603   824  2651  6040  8618 11347  8267 10711  4114  3365
  3559  4898  2361  8377  8907 13209 10263 12448]

In [36]:
#4. Elimino las columnas con un PSI alto.
cols_eliminar = ["Master_Finiciomora","Visa_Finiciomora","Master_Fvencimiento"]
data.drop(cols_eliminar,axis=1,inplace=True)

train_data.drop(cols_eliminar,axis=1,inplace=True)
score_data.drop(cols_eliminar,axis=1,inplace=True)

/tmp/ipykernel_2547/1238236985.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_data.drop(cols_eliminar,axis=1,inplace=True)
/tmp/ipykernel_2547/1238236985.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  score_data.drop(cols_eliminar,axis=1,inplace=True)

## D. Ajustes por inflación.

In [48]:
#1. Valores financieros y meses
#i. Listas.
vfoto_mes = [201901, 201902, 201903, 201904, 201905, 201906,
  201907, 201908, 201909, 201910, 201911, 201912,
  202001, 202002, 202003, 202004, 202005, 202006,
  202007, 202008, 202009, 202010, 202011, 202012,
  202101, 202102, 202103, 202104, 202105, 202106,
  202107, 202108, 202109]
vIPC = [1.9903030878, 1.9174403544, 1.8296186587,
  1.7728862972, 1.7212488323, 1.6776304408,
  1.6431248196, 1.5814483345, 1.4947526791,
  1.4484037589, 1.3913580777, 1.3404220402,
  1.3154288912, 1.2921698342, 1.2472681797,
  1.2300475145, 1.2118694724, 1.1881073259,
  1.1693969743, 1.1375456949, 1.1065619600,
  1.0681100000, 1.0370000000, 1.0000000000,
  0.9680542110, 0.9344152616, 0.8882274350,
  0.8532444140, 0.8251880213, 0.8003763543,
  0.7763107219, 0.7566381305, 0.7289384687]
vdolar_blue = [39.045455,  38.402500,  41.639474,
   44.274737,  46.095455,  45.063333,
   43.983333,  54.842857,  61.059524,
   65.545455,  66.750000,  72.368421,
   77.477273,  78.191667,  82.434211,
  101.087500, 126.236842, 125.857143,
  130.782609, 133.400000, 137.954545,
  170.619048, 160.400000, 153.052632,
  157.900000, 149.380952, 143.615385,
  146.250000, 153.550000, 162.000000,
  178.478261, 180.878788, 184.357143]
vdolar_oficial = [38.430000,  39.428000,  42.542105,
   44.354211,  46.088636,  44.955000,
   43.751429,  54.650476,  58.790000,
   61.403182,  63.012632,  63.011579,
   62.983636,  63.580556,  65.200000,
   67.872000,  70.047895,  72.520952,
   75.324286,  77.488500,  79.430909,
   83.134762,  85.484737,  88.181667,
   91.474000,  93.997778,  96.635909,
   98.526000,  99.613158, 100.619048,
  101.619048, 102.569048, 103.781818]
vUVA = [2.001408838932958,  1.950325472789153,  1.89323032351521,
  1.8247220405493787, 1.746027787673673,  1.6871348409529485,
  1.6361678865622313, 1.5927529755859773, 1.5549162794128493,
  1.4949100586391746, 1.4197729500774545, 1.3678188186372326,
  1.3136508617223726, 1.2690535173062818, 1.2381595983200178,
  1.211656735577568,  1.1770808941405335, 1.1570338657445522,
  1.1388769475653255, 1.1156993751209352, 1.093638313080772,
  1.0657171590878205, 1.0362173587708712, 1.0,
  0.9669867858358365, 0.9323750098728378, 0.8958202912590305,
  0.8631993702994263, 0.8253893405524657, 0.7928918905364516,
  0.7666323845128089, 0.7428976357662823, 0.721615762047849]
#ii. Lo junto en un dataframe.
tb_indices = pd.DataFrame({
    'IPC': vIPC,
    'dolar_blue': vdolar_blue,
    'dolar_oficial': vdolar_oficial,
    'UVA': vUVA,
    'foto_mes': vfoto_mes
})

In [49]:
#2. Defino los campos que voy a ajustar por inflación.
campos_monetarios = [col for col in data.columns if col.startswith(('m', 'Visa_m', 'Master_m', 'vm_m'))]

In [62]:
#3. Diferentes funciones y métodos para corregir el efecto de la inflación.
def drift_uva(dataset, campos_monetarios, tb_indices):
    print("inicio drift_UVA()")
    dataset = dataset.merge(tb_indices[['foto_mes', 'UVA']], on='foto_mes', how='left')
    for campo in campos_monetarios:
        dataset[campo] *= dataset['UVA']
    dataset.drop(columns=['UVA'], inplace=True)
    print("fin drift_UVA()")
    return dataset

def drift_deflacion(dataset, campos_monetarios, tb_indices):
    print("inicio drift_deflacion()")
    dataset = dataset.merge(tb_indices[['foto_mes', 'IPC']], on='foto_mes', how='left')
    for campo in campos_monetarios:
        dataset[campo] *= dataset['IPC']
    dataset.drop(columns=['IPC'], inplace=True)
    print("fin drift_deflacion()")
    return dataset

# Función para estandarizar datos
def drift_estandarizar(dataset, campos_drift):
    print("inicio drift_estandarizar()")
    for campo in campos_drift:
        dataset[campo + "_normal"] = dataset.groupby('foto_mes')[campo].transform(lambda x: (x - x.mean()) / x.std())
        dataset.drop(columns=[campo], inplace=True)
    print("fin drift_estandarizar()")
    return dataset

In [63]:
#4. Le aplico la inflación a todas ellas.
data = drift_deflacion(data, campos_monetarios, tb_indices)

inicio drift_deflacion()
fin drift_deflacion()

## E. Exportación.

In [65]:
#i. Exportación propiamente dicha.
data.to_csv(dataset_file_preprocesado,index=False)

In [66]:
print("Terminó")

Terminó